/* ^ reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
}

:root {
  --primary: #333;
  --logo: #f9ca24;
}

a {
  color: var(--primary);
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* vp +header */
.vp-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  padding: 1rem;
  background: var(--primary);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

header a {
  color: white;
}

.vp-logo {
  font-size: 1.8rem;
  margin-bottom: 0;
  font-family: "Long Cang", cursive;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.vp-logo i {
  color: var(--logo);
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.vp-logo a {
  font-size: 3rem;
}

header ul {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
}

header ul li {
  padding: 1rem;
}

header ul li a:hover {
  color: var(--logo);
}

.vp {
  flex: auto;
}
